secrets:
  vault:
    roottoken: '{{getv "/secret/downup/vault/vault/roottoken"}}'
    server_tls_cert: '{{getv "/secret/downup/vault/vault/server_tls_cert"}}'
    server_tls_key: '{{getv "/secret/downup/vault/vault/server_tls_key"}}'
